body {
    margin: 0;
    font: 12px 'Roboto', 'Helvetica', sans-serif;
}

a {
	color: #3EC68B;
	text-decoration: none;
}
	a:hover {
		color: #3D9D74;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}

.header {
	height: 70px;
	line-height: 70px;
	background: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	padding: 0 20px;
}
.logo {
	display: inline-block;
	color: #111;
	font: 700 30px/70px 'Raleway', 'Helvetica', sans-serif;
	margin: 0;
}
.menu {
	float: right;
	margin: 0;
	padding: 0;
	margin-top: 17px;
}
.menu li {
	float: left;
	display: inline-block;
}
.menu a {
	display: block;
	height: 35px;
	line-height: 35px;
	padding: 0 20px;
	color: #fff;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
}
	.menu a:hover {
		border: none;
	}
.menu_temperature {
	background: #E54878;
}
.menu_topo {
	background: #883388;
}
.menu_rain {
	background: #42C4CD;
}
.menu_pressure {
	background: #3EC68B
}

.content {
	position: absolute;
	top: 70px;
	left: 0;
	right: 0;
	bottom: 0;
	background: #001420;
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.5);
}

.detail {
	position: absolute;
	background: #21333B;
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	width: 280px;
	top: 15px;
	left: 15px;
	padding: 0 15px;
	color: #fff;
	min-height: 40px;
	box-sizing: border-box;
}
.detail_coordinates {
	font-size: 14px;
	padding: 0;
	margin: 0;
	line-height: 40px;
}
.detail_close {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	color: #fff;
	font-size: 14px;
}
	.detail_close:hover, .detail_close:focus {
		background: rgba(255,255,255,0.1);
		color: #fff;
	}
.detail_separator {
	margin: 0 -15px;
	border: none;
	border-top: 1px solid rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(255,255,255,0.03);
}
.detail_data {
	width: 100%;
	border-collapse: collapse;
	margin: 15px 0;
}
	.detail th {
		text-align: left;
		font-weight: 400;
		padding: 3px 0;
	}
	.detail td {
		text-align: right;
		font-weight: 300;
		padding: 3px 0;
	}
	.unit {
		font-size: 10px;
		color: rgba(255,255,255,0.6);
	}

.footer {
	position: absolute;
	left: 15px;
	bottom: 15px;
	width: 280px;
	background: #fff;
	line-height:16px;
	color: #666;
	font-size: 11px;
	padding: 8px 10px;
	box-sizing: border-box;
}




.container {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
}

canvas {
    position: absolute;
    z-index: 20;
    pointer-events: none;
}
#map {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
}
svg {
    position: absolute;
    z-index: 30;
    fill: none;
}

.dataframe {
	/*stroke: #fff;*/
}

.graticule {
	fill: none;
	stroke: rgba(255,255,255,0.2);
	stroke-width: .5px;
	stroke-opacity: .5;
}

.country {
    /*stroke: #08384D;*/
    /*stroke: #0C5271;*/
    stroke: #A4BAC4;
    pointer-events: all;
	/*fill: #09202A;*/
}
	.countr-10 {
		/*fill: #001420;*/
	}
/*.country:hover {
    fill: rgba(255,255,255,0.1);
}*/

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.cursor {
	/*fill: #fff;*/
}

.loading {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 50px;
  text-align: center;
  font: 12px 'Helvetica', sans-serif;
}
