body {
    margin: 0;
    font: 12px 'Roboto', 'Helvetica', sans-serif;
    background: #09202A;
    color: #fff;
}

a {
	color: #3EC68B;
	text-decoration: none;
}
	a:hover {
		color: #3D9D74;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}

.header {
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	height: 60px;
	line-height: 60px;
	box-shadow: 0 1px 2px rgba(0,0,0,1);
	padding: 0 20px;
	background: #fff;
	z-index: 20;
}
.header_logo {
	float: left;
	display: block;
	color: #333;
	font: 700 30px/60px 'Raleway', 'Helvetica', sans-serif;
	margin: 0 20px 0 0;
	text-transform: lowercase;
}
.header_nav {
	display: block;
	margin: 0;
	padding: 0;
}
	.header_nav li {
		display: block;
		float: left;
	}
		.header_nav a {
			display: inline-block;
			padding: 0 5px;
			margin: 0 5px;
			color: #fff;
			font-size: 12px;
			font-weight: 700;
			line-height: 20px;
			text-transform: uppercase;
			border-bottom: 1px solid rgba(0,0,0,0);
			-webkit-transition: border 0.3s;
			-moz-transition: border 0.3s;
			transition: border 0.3s;
		}
			.header_nav a:hover {
				border-bottom-color: rgba(0,0,0,0.1);
			}
			.header_nav a.is-temperature {
				color: #E54878;
			}
			.header_nav a.is-topo {
				color: #B357B3;
			}
			.header_nav a.is-rain {
				color: #42C4CD;
			}
			.header_nav a.is-pressure {
				color: #3EC68B
			}

.content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #001420;
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.5);
}

.detail {
	position: absolute;
	background: #21333B;
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	width: 280px;
	top: 85px;
	left: 15px;
	padding: 0 15px;
	color: #fff;
	min-height: 40px;
	z-index: 20;
	box-sizing: border-box;
}
.detail_coordinates {
	font-size: 14px;
	padding: 0;
	margin: 0;
	line-height: 40px;
}
.detail_close {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	color: #fff;
	font-size: 14px;
}
	.detail_close:hover, .detail_close:focus {
		background: rgba(255,255,255,0.1);
		color: #fff;
	}
.detail_separator {
	margin: 0 -15px;
	border: none;
	border-top: 1px solid rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(255,255,255,0.03);
}
.detail_data {
	width: 100%;
	border-collapse: collapse;
	margin: 15px 0;
}
	.detail th {
		text-align: left;
		font-weight: 400;
		padding: 3px 0;
	}
	.detail td {
		text-align: right;
		font-weight: 300;
		padding: 3px 0;
	}
	.unit {
		font-size: 10px;
		color: rgba(255,255,255,0.6);
	}

.footer {
	position: absolute;
	z-index: 20;
	left: 15px;
	bottom: 15px;
	width: 280px;
	background: #fff;
	line-height:16px;
	color: #666;
	font-size: 11px;
	padding: 8px 10px;
	box-sizing: border-box;
}




.container {
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
}

canvas {
    position: absolute;
    z-index: 20;
    pointer-events: none;
}
	canvas.is-heatmap {
		z-index: -1;
	}
#map {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
}
svg {
    position: absolute;
    z-index: 30;
    fill: none;
}

.dataframe {
	/*stroke: #fff;*/
}

.graticule {
	fill: none;
	stroke: rgba(255,255,255,0.2);
	stroke-width: .5px;
	stroke-opacity: .5;
}

.country {
    /*stroke: #08384D;*/
    /*stroke: #0C5271;*/
    stroke: #A4BAC4;
    pointer-events: all;
	/*fill: #09202A;*/
}
	.countr-10 {
		/*fill: #001420;*/
	}
/*.country:hover {
    fill: rgba(255,255,255,0.1);
}*/

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.cursor {
	/*fill: #fff;*/
}

.loading {
	z-index: 15;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 0 20px;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	text-align: center;
	background: #fff;
	color: #333;
	font: 12px 'Helvetica', sans-serif;
}
	.loading img {
		display: inline-block;
		-webkit-transform: translateY(3px);
	}
